*.suo
bin
obj
/LineScanConsole/bin/Debug/Hanbo.Camera.dll
/LineScanConsole/bin/Debug/Hanbo.Camera.pdb
/LineScanConsole/bin/Debug/LineScanConsole.exe
/LineScanConsole/bin/Debug/LineScanConsole.pdb
/LineScanConsole/bin/Debug/LineScanConsole.vshost.exe
/LineScanConsole/bin/Debug/LineScanConsole.vshost.exe.manifest
/LineScanConsole/bin/Debug/halcondotnet.dll
/LineScanConsole/bin/Debug/halcondotnet.xml
/LineScanConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LineScanConsole/obj/Debug/LineScanConsole.csproj.FileListAbsolute.txt
/LineScanConsole/obj/Debug/LineScanConsole.csprojResolveAssemblyReference.cache
/LineScanConsole/obj/Debug/LineScanConsole.exe
/LineScanConsole/obj/Debug/LineScanConsole.pdb
